.main_container{
    background-color:#1E1E1E;
}
/* Banner Section Style Start.. */
.banner_section{
    height: 100%;
    color: white;    
    margin: 0px 8%;
}
.nav_container{    
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
}
.logo{
    height: 30px;
    width: 30%;
}
.logo h1{
    color: #FD6F00;
    font-size: 32px;
    font-weight: 700;
}
.cv_download{
    width: fit-content;
    background-color: #FD6F00;
    padding: 0px 15px;
}

/* Navbar design END  */

/* Introducing bio design start  */

.bio_profile_container{
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}
.introduce{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
#Dhaka{
    color: #FD6F00;
}
.brief_shortly{
    font-size: 25px;
}
.intro_skills{
    display: flex;
    font-size: 30px;
    font-weight: bold;
    gap: 10px;
    margin: 40px 0px;
}
.hire_container{
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    width: 300px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: darkslategray;
    margin-bottom: 40px;
}
.portfolio_arrow{
    width: 50%;
    padding: 10px 20px;
    background-color: #FD6F00;
    border-radius: 50px;
    margin: 7px 7px;
    text-align: center;
}
#port00{
    font-size: 25px;
}
.hireMe{
    padding-top: 7px;
}


/* social link design part */

.social_links{
    display: flex;
    gap: 30px;  
    margin-bottom: 50px;  
}
.github img{
    height: 33px;
    width: 33px;
}
/* Banner Section Style END.. */

/* Portfolio Section Style Start.. */
.main_container{
    background-color:#1E1E1E;
}
.Portfolio_Section{
    height: 100%;
    color: white;    
    margin: 0px 8%;
}

.Title_part{
    text-align: center;
}

.heading h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 0px;
    padding-top: 40px;
}
.desc{
    font-size: 20px;
    font-weight: 400;
}
.skill_set{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 50px 0px;
}
.skill{
    width: fit-content;
    background-color: black;
    padding: 0px 40px;
}
#skill00{
    background-color: #FD6F00;
}

.body_part{
    display: flex;
    gap: 40px;
    padding-bottom: 60px;
    margin-top: 40px;
}
.project_desc h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.project_desc h3{
    font-size: 20px;
    font-weight: 400;
}

/* Portfolio Section Style END.. */

/* Footer Section Start.. */
.Footer_section{
    height: 100%;
    color: white;    
    margin: 0px 8%;
}
.logo_footer{
    text-align: center;
}
.logo_footer h1{
    color: #FD6F00;
    font-size: 50px;
    font-weight: 700;
}
.footer_container{    
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 20px;
}
.social_links_footer{
    display: flex;
    justify-content: center;
    gap: 30px;  
    margin-bottom: 80px;  
}
.github img{
    height: 33px;
    width: 33px;
}
.copyright{
    text-align: center;
    background-color: #121212;
    height: 60px;
    font-size: 16px;
    padding-top: 5px;
}
/* Footer Section END.. */